<mat-accordion [multi]='true'>
  <mat-expansion-panel *ngFor="let edu of schools">
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        {{edu.school}}
      </mat-panel-title>
      <mat-panel-description class="description">
        <span>{{edu.degree | titlecase}}</span>
        |
        <span>{{edu.startDate}} - {{edu.endDate ? edu.endDate : "current"}}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <img class='logo' [src]='edu.logo'><br />
    <span class='location'>{{edu.city | titlecase}}, {{edu.state | uppercase}}</span><br />
    <ul>
      <li *ngFor="let item of edu.detail">{{item}}</li>
    </ul>
    <!-- <span class='detail'>{{edu.detail}}</span> -->
    <!-- extra data here -->
  </mat-expansion-panel>
</mat-accordion>
