.resume-header {
  h2 {
    display: inline-block;
  }

  button {
    float: right;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }
}

.title,
.description {
  display: flex;

  &.title {
    flex: 0 0 25%;
    font-weight: 500;
  }

  &.description {
    flex: 0 0 75%;

    span {
      margin: 0 10px;
    }
  }
}

.location,
.phoneNumber {
  font-style: italic;
}

.location {
  padding-right: 20px;
}

.logo {
  width: 30%;
  height: auto;
  max-width: 250px;
  max-height: 110px;

  object-fit: cover;
  margin-bottom: 15px;
}

.card-container {
  width: 95%;
  margin: 0 auto;
}
