.title,
.description {
  display: flex;

  &.title {
    flex: 0 0 25%;
    font-weight: 500;
  }

  &.description {
    flex: 0 0 75%;

    span {
      margin: 0 10px;
    }
  }
}

.location{
  font-style: italic;
}

.detail{
  display: block;
  margin-top: 8px;
}
