<section class='resumeContainer'>
  <aside class='left'>
    <img src='{{rData?.profilePic}}'>
    <div class='contactInfo'>
      <p><i class="fa fa-envelope" aria-hidden="true"></i> {{rData?.email}}</p>
      <p><i class="fa fa-phone" aria-hidden="true"></i> {{rData?.phone | formatPhoneNumber}}</p>
    </div>
    <div class='skills'>
      <h4>Skills</h4>
      <ul>
        <li *ngFor="let skill of skillList"><span>{{skill | titlecase}}</span></li>
      </ul>
    </div>
  </aside>
  <div class='right'>
    <p class='summary'>
      {{rData?.summary}}
    </p>
    <hr>
    <app-history-detail [historyData]='rData?.jobs' [sectionType]='"job"'></app-history-detail>
    <app-history-detail [historyData]='rData?.education' [sectionType]='"edu"'></app-history-detail>
  </div>
</section>
