@import "src/colors.scss";
@import '~@angular/material/theming';

.resumeContainer {
  display: flex;
  height: calc(100% - 64px);
}

.left {
  background-color: $light-primary-color;
  flex: 0 0 20%;
}

.right {
  flex: 1;
  margin: 10px 20px;
  overflow: scroll;

  .summary{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1pt solid $divider-color;

    i{
      font-size: 20pt;
      margin-right: 10px;
    }
  }
}

.name,
.contactInfo {
  margin-left: 20px;
}

.contactInfo {
  font-weight: bold;
  font-size: 11pt;
  color: $secondary-text-color-dark;

  p {
    margin: 2px;
  }

  i {
    margin-right: 10px;
    color: $dark-primary-color;
  }
}

.name {
  font-size: 20pt;
  margin-bottom: 10px;
}

img {
  width: 50%;
  height: auto;
  margin: 5% 25%;

  @include mat-elevation(4);
  background: white;
  border-radius: 50%;
}
