.title,
.description {
  display: flex;

  &.title {
    flex: 0 0 25%;
    font-weight: 500;
  }

  &.description {
    flex: 0 0 75%;

    span {
      margin: 0 10px;
    }
  }
}

.location, .phoneNumber {
  font-style: italic;
}

.location{
  padding-right: 20px;
}

.logo {
  width: 30%;
  height: auto;
  margin-bottom: 15px;
}
