@import "src/colors.scss";

.resumeContainer{
  display: flex;
  height: calc(100% - 64px);
}

.left {
  background-color: $light-primary-color;
  flex: 0 0 20%;
}

.right {
  flex: 1;
  margin: 0px 10px;
  overflow: scroll;
}

.name,
.contactInfo {
  margin-left: 20px;
}

.contactInfo {
  font-weight: bold;
  font-size: 11pt;
  color: $secondary-text-color-dark;

  p {
    margin: 2px;
  }

  i {
    margin-right: 10px;
    color: $dark-primary-color;
  }
}

.name {
  font-size: 18pt;
  margin-bottom: 15px;
}

img {
  width: 50%;
  height: auto;
  margin: 5% 25%;

  background: white;
  border-radius: 50%;
}
