<section class='resumeContainer'>
  <aside class='left'>
    <img src='{{rData?.profilePic}}'>
    <h1 class='name'>{{rData?.firstName}} {{rData?.lastName}}</h1>
    <div class='contactInfo'>
      <p><i class="fa fa-envelope" aria-hidden="true"></i> {{rData?.email}}</p>
      <p><i class="fa fa-phone" aria-hidden="true"></i> {{rData?.phone | formatPhoneNumber}}</p>
    </div>
  </aside>
  <div class='right'>
    <app-history-detail [historyData]='rData?.jobs' [sectionType]='"job"'></app-history-detail>
    <app-history-detail [historyData]='rData?.education' [sectionType]='"edu"'></app-history-detail>
  </div>
</section>
